
.flex-viewport {
	height: 600px !important;
}
.flex-inner {
	position: relative;
	width: 1180px;
	margin: 0 auto;
    height: 600px;
}
.flex-img {
	position: relative;
	margin: 0;
	overflow: hidden;
	height: inherit;
	z-index: 21;
}


.flex-details {
	position: absolute;
	display: inline;
	top: 0;
	right: 0;
	width: 50%;
	height: inherit;
	overflow: hidden;
	background-color: rgba(0, 0, 0, 0.5);
	box-sizing: border-box;
	z-index: 22;
}

.flex-details .flex-caption {
	padding: 50px;
	padding-right: 150px;
	padding-top: 80px;
}
.flex-img .flex-img img { width: 100%; }

.flexslider .slides { height: inherit; }
.flex-details .slides { width: 100%; }
.flex-details .flex-title {
	font-size: 60px;
	animation-delay: 0.3s;
	font-weight: 700;
	outline: none;
}
.flex-details .flex-title a { color: #ffffff; }

.flex-img .slides li { position: relative; }
.flex-details .post__meta,
.flex-details .post-categories a,
.flex-details .post__meta a { color: #ffffff; }
.flex-details .post-categories a:hover { color: #cccccc; }
.flex-details .post__meta a:hover { color: #cccccc; }
.flex-details .post__meta a:hover { color: #cccccc; }

.flex-details .post-categories li a:before {
	background-color: rgba(255,255,255,0.3);
}

.slider-controls {
	position: absolute;
	top: 0;
	right: 0;
	width: 70px;
	border-left: 1px solid rgba(255, 255, 255, 0.4);
	height: 100%;
	z-index: 22;
	margin-top: 49px;
}
.custom-direction-nav {
	position: absolute;
	bottom: 10%;
	right: 50%;
	transform: translatex(50%);
}
.custom-direction-nav a {
	width: 10px;
	height: 10px;
	background-color: rgba(255, 255, 255, 0.4);
	border-radius: 50%;
	position: relative;
	display: block;
	margin: 15px 0;
}
.custom-direction-nav a.active {
	background-color: #fff;
}
.flexslider ul.slides {
	margin: 0;
	padding: 0;
}
.flexslider .slides > li {
	display: block;
}
.flexslider:hover .flex-direction-nav .flex-prev:hover,
.flexslider:hover .flex-direction-nav .flex-prev:hover{
	opacity: 1;
}

.flex-img .flex-direction-nav .flex-prev,
.flex-img .flex-direction-nav .flex-next {
	display: none;
}
.flex-details .flex-direction-nav {
    position: absolute;
	list-style: none;
    z-index: 24;
    top: 0;
    right: 0;
    height: 50px;
    margin: 0;
    width: 70px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
	border-left: 1px solid rgba(255, 255, 255, 0.4);
}

.flex-details .flex-direction-nav .flex-prev {
    position: absolute;
    top: 50%;
    right: 50% !important;
    transform: translate(-10px, -40%);
}
.flex-details .flex-direction-nav .flex-next{
    position: absolute;
    top: 50%;
    right: 50% !important;
    transform: translate(20px, -40%);
}

.flex-direction-nav a.flex-prev:before {
	content: "\f104";
	font-family: "FontAwesome";
	font-size: 20px;
	display: inline-block;
	color: #fff;

}
.flex-direction-nav a.flex-next:before {
	content: "\f105";
	font-family: "FontAwesome";
	font-size: 20px;
	display: inline-block;
	color: #fff;
}
.flex-prev,
.flex-next {
	font-size: 0;
}

/* Slide Counter */
.slide-numbers {
	position: absolute;
	top: 20%;
	left: 50%;
	-webkit-transform: translate(-50%, 50%);
	transform: translate(-50%, -50%);
	height: 200px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
.slide-numbers div {
	-webkit-transform: rotate(-90deg);
	transform: rotate(-90deg);
	color: #fff;
	text-align: center;
	width: fit-content;
	margin: 0 auto;
	font-size: 12px;
}
.timeline {
	content: '';
	background-color: rgba(255, 255, 255, 0.32);
	display: block;
	width: 100px;
	height: 1px;
	-webkit-transform: rotate(-90deg);
	transform: rotate(-90deg);
	position: relative;
}
.timeline span:before {
	position: absolute;
	left: 0;
	top: 0px;
	content: '';
	background-color: #fff;
	display: block;
	height: 1px;
	width: 100%;
	animation: yourAnimation 2s 0s linear;
}

.timeline span.clicked {
	position: absolute;
	left: 0;
	top: 0px;
	content: '';
	width: 100%;
	background-color: #fff;
	display: block;
	height: 1px;
	animation: yourAnimation 2s 0s linear;
}

@keyframes yourAnimation{
    0%{
        width: 0;
        }
    50%{
        width: 50%;
        }
    82%{
        width: 100%;
        }
}

/* flex slider 2 */
.flex_slider2 .flex-details { background-color: transparent; }
.flex_slider2 {
	position: relative;
	display: flex;
	flex-wrap: wrap;
}
.flex_slider2 .flex-img,
.flex_slider2 .flex-details {
	position: relative;
	flex-basis: 50%;
}
.flex_slider2 .flex-img img {
	height: 600px;
	object-fit: cover;
}

.flex_slider2 .flex-details .flex-title a { color: #222222; }

.flex_slider2 .flex-details .post__meta,
.flex_slider2 .flex-details .post__meta a { color: #444444; }
.flex_slider2 .flex-details .post__meta a:hover { color: #999999; }

.flex_slider2 .flex-direction-nav a.flex-prev:before,
.flex_slider2 .flex-direction-nav a.flex-next:before {
	color: #444444;
}
.flex_slider2 .flex-meta {
	position: absolute;
	height: 70px;
    width: calc(50% - 70px);
    bottom: 0;
    top: auto;
    right: 70px;
	z-index: 24;
}
.flex_slider2 .meta-author-avatar img {
	border-radius: 30px;
}
.flex_slider2 .flex-direction-nav {
	bottom: 0;
	top: auto;
	height: 70px;
}

.flex_slider2 .slider-controls {
	height: 70px;
    width: 50%;
    bottom: 70px;
    top: auto;
	margin: 0;
}
.flex_slider2 .timeline {
	position: absolute;
	bottom: 0;
	height: 3px;
	width: 100%;
	background-color: rgba(0,0,0,0.02);
	transform: rotate(0);
}
.flex_slider2 .timeline span:before {
	height: 3px;
	background-color: rgba(0,0,0,0.1);
}

.flex_slider2 .custom-direction-nav a {
	display: inline-block;
	margin: 0 8px;
	font-size: 13px;
	color: rgba(0, 0, 0, 0.3);
	background-color: transparent;
}

.flex_slider2 .custom-direction-nav a.active {
	color: #000000;
	background-color: transparent;
}

.flex_slider2 .custom-direction-nav {
    bottom: 50%;
    right: 0;
    transform: translatey(50%);
}

.flex-meta .meta-avatar img {
	border-radius: 30px;
}

.flex-meta .slides {
	display: flex;
	align-items: center;
}

.flex-meta .slides li {
	padding-left: 50px;
}

.flex-meta .slides li > span {
	font-family: 'Source Sans Pro';
	font-size: 13px;
	margin-right:10px;
}
