
.flex-viewport {
	height: 650px!important;
}
.sliders {
	position: relative;
	width: 100%;
	width: 1200px;
	margin: 0 auto;
    height: 650px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.flex-img {
	margin: 0;
	border-radius: 3px;
	overflow: hidden;
	height: inherit;

}
.flex-details {
	display: inline;
	overflow: hidden;
	padding: 40px;
	border: unset;
	background-color: rgba(0, 0, 0, 0.5);
	position: absolute;
	top: 0;
	right: 0;
	width: 50%;
	height: inherit;
	box-sizing: border-box;
	z-index: 99;
}
.flex-img .slides img {
	width: 100%;
}
.flex-img {
	border: unset;
}

.flex-details .slides a.flex-head {
	height: 200px;
	display: block;
}
.flexslider .slides {
	height: inherit;
}
.flex-details .slides {
	width: 90%;
}
.flex-details .slides p {
	font-size: 50px;
	color: #fff;
	animation: netflix_style 3.5s;
	animation-delay: 1s;
	font-weight: 700;
	outline: none;
}
@keyframes netflix_sstyle {
	0% {
		text-shadow: 2px 3px #000, 3px 4.5px #000, 4px 6px #000, 5px 7.5px #000, 6px 9px #000, 7px 10.5px #000, 8px 12px #000, 9px 13.5px #000, 10px 15px #000, 11px 16.5px #000, 12px 18px #000, 13px 19.5px #000, 14px 21px #000, 15px 22.5px #000, 16px 24px #000, 17px 25.5px #000, 18px 27px #000, 19px 28.5px #000, 20px 30px #000, 21px 31.5px #000;
		color: #f3f3f3;
		transform: scale(1, 1);
	}
	10% {

		color: #f3f3f3;
		transform: scale(1.05, 1.05);
	}
	15% {
		color: #f3f3f3;
		text-shadow: 2px 3px #000, 3px 4.5px #000, 4px 6px #000, 5px 7.5px #000, 6px 9px #000, 7px 10.5px #000, 8px 12px #000, 9px 13.5px #000, 10px 15px #000, 11px 16.5px #000, 12px 18px #000, 13px 19.5px #000, 14px 21px #000, 15px 22.5px #000, 16px 24px #000, 17px 25.5px #000, 18px 27px #000, 19px 28.5px #000, 20px 30px #000, 21px 31.5px #000;
	}
	20% {
		color: #e90418;
		text-shadow: none;
		transform: scale(1.1, 1.1);

	}
	75% {
		opacity: 1;
	}
	80% {
		opacity: 1;
		color: #e90418;
		transform: scale(1, 1);

	}
	100% {
		opacity: 1;
	}
}
.flex-img .slides li {
	position: relative;
}
.flex-details .post__meta {
	display: flex;
	padding: 20px;
}
.slider-controls {
	position: absolute;
	top: 0;
	right: 0;
	width: 15%;
	border-left: 1px solid rgba(255, 255, 255, 0.4);
	height: 100%;
}
.custom-direction-nav {
	position: absolute;
	bottom: 10px;
	right: 50%;
	transform: translatex(50%);
}
.custom-direction-nav a {
	width: 10px;
	height: 10px;
	background-color: rgba(255, 255, 255, 0.4);
	border-radius: 50%;
	position: relative;
	display: block;
	margin: 15px 0;
}
.custom-direction-nav a.active {
	background-color: #fff;
}
.flexslider .slides > li {
	display: block;
}
.flex-direction-nav .flex-prev,
.flexslider:hover .flex-direction-nav .flex-prev,
.flexslider:hover .flex-direction-nav .flex-next,
.flex-direction-nav .flex-next {
	top: unset;
	left: unset;
	right: unset;
	bottom: unset;
}
.flexslider:hover .flex-direction-nav .flex-prev:hover,
.flexslider:hover .flex-direction-nav .flex-prev:hover{
	opacity: 1;
}

.flex-img .flex-direction-nav .flex-prev,
.flex-img .flex-direction-nav .flex-next {
	display: none;
}

.flex-details .flex-direction-nav .flex-prev {
	position: absolute;
	top: 20px !important;
	right: 50px !important;
	opacity: 1;
	width: 50px;
	height: 25px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.4);
	text-align: center;
	padding: 20px 0;
}
.flex-details .flex-direction-nav .flex-next{
	position: absolute;
	top: 20px !important;
	right: 0;
	opacity: 1;
	width: 50px;
	height: 25px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.4);
	text-align: center;
	padding: 20px 0;
}

.flex-direction-nav a.flex-prev:before {
	content: "\f053";
	font-family: "FontAwesome";
	font-size: 20px;
	display: inline-block;
	color: #fff;

}
.flex-direction-nav a.flex-next:before {
	content: "\f054";
	font-family: "FontAwesome";
	font-size: 20px;
	display: inline-block;
	color: #fff;
}
.flex-prev,
.flex-next {
	font-size: 0;
}
.slide-numbers {
	position: absolute;
	top: 25%;
	left: 50%;
	-webkit-transform: translate(-50%, 50%);
	transform: translate(-50%, -50%);
	height: 200px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
.slide-numbers div {
	-webkit-transform: rotate(-90deg);
	transform: rotate(-90deg);
	color: #fff;
	text-align: center;
	width: fit-content;
	margin: 0 auto;
	font-size: 12px;
}
.timeline {
	content: '';
	background-color: rgba(255, 255, 255, 0.32);
	display: block;
	width: 100px;
	height: 1px;
	-webkit-transform: rotate(-90deg);
	transform: rotate(-90deg);
	position: relative;
}
.timeline span:before {
	position: absolute;
	left: 0;
	top: 0px;
	content: '';
	background-color: #fff;
	display: block;
	height: 1px;
	width: 100%;
	animation: yourAnimation 2s 0s linear;
}

.timeline span.clicked {
	position: absolute;
	left: 0;
	top: 0px;
	content: '';
	width: 100%;
	background-color: #fff;
	display: block;
	height: 1px;
	animation: yourAnimation 2s 0s linear;
}

@keyframes yourAnimation{
    0%{
        width: 0;
        }
    50%{
        width: 50%;
        }
    82%{
        width: 100%;
        }
}